/* --------------------------------------------
   Site-wide styling
   -------------------------------------------- */
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--color5);
    font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: var(--color4);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

/* Global Variables */
/* See: https://encycolorpedia.com/123456 for good contrasting colors */
:root {
    --color1: #1f4db2;
    --color2: #e0b24d;
    --color3: #bbbbbb;
    --color4: #dddddd;
    --color5: #1e1e1e;
    --color6: #252525;
    --color7: #383838;
}
