/* --------------------------------------------
   Site-wide styling
   -------------------------------------------- */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--color5);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--color4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

/* Global Variables */
/* See: https://encycolorpedia.com/123456 for good contrasting colors */
:root {
  --color1: #1f4db2;
  --color2: #e0b24d;
  --color3: #bbbbbb;
  --color4: #dddddd;
  --color5: #1e1e1e;
  --color6: #252525;
  --color7: #383838;
}

/* Forms */

input,
textarea,
button {
  font-family: inherit;
}

/* ---------------------------------------------
 Anchors
------------------------------------------------ */

a {
  color: var(--color2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------
 Blockquote + cite
------------------------------------------------ */

blockquote {
  border-left: 10px solid var(--color2);
  font-style: italic;
  margin: 1em 0;
  padding: 1em 4em;
  line-height: 1.45;
  position: relative;
  background: var(--color7);
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: 20px;
  top: 0px;
  color: var(--color4);
}

blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

blockquote a {
  text-decoration: none;
}

/* ---------------------------------------------
 Code / Pre
------------------------------------------------ */

code {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  font-size: 90%;
  white-space: nowrap;
  background: var(--color7);
  border: 1px solid var(--color2);
  border-radius: 4px;
  color: var(--color4);
}

pre {
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
}

pre > code {
  display: block;
  padding: 1em 1.5em;
  white-space: pre;
}

/* ---------------------------------------------
 Lists
------------------------------------------------ */

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0.5em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.5em 0 0.5em 3em;
  font-size: 90%;
}

li {
  margin-bottom: 0.25em;
}

/* ---------------------------------------------
 Tables
------------------------------------------------ */
table {
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  border-collapse: collapse;
  margin: 1em 0em;  
}

table thead tr th, table tr th {
  background-color: var(--color2);
  color: var(--color7);
  padding: 0.5em 1em;
  text-align: left;
}

table tbody tr td {
  padding: 0.2em 1em;
}

table tbody tr:nth-of-type(even) {
  background-color: var(--color5);
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--color6);
}

table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color2);
}

table tbody tr:hover {
  background-color: var(--color7);
  color: var(--color4);
}
